@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;1,200&family=Poppins:wght@300;500;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    list-style: none;
}
section {
    padding-top: 70px;
    padding-bottom: 50px;
}
body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* Navber css :start */
header{
    position: fixed;
    width: 100%;
    z-index: 2;

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    position: relative;
    background: #EB6076;
    overflow: hidden;
}
nav img {
    width: 13%;
}
.nav-center {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    margin-right: 3%;
}
.nav-center :nth-child(1) {
    width: 240px;
    padding: 0 0 0 8px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.nav-center :nth-child(2) {
    padding: 0 10px 0 10px;
    background: #D82029;
    color: #f1f1f1;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.nav-center :nth-child(1):focus ~ #search{
    background: #20d88b;
    color: #575757;
}
.nav-center input {
    height: 35px;
    border: none;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    padding: 15px;
    display: block;
    color: #f7f7f7;
    font-size: 18px;
}

nav a:hover {
    color: white;
    background: #D82029;
}
/* navbar css end */

/* top banner css start */
.top-banner {
    display: flex;
    padding: 70px 0% 0px 7%;
}
.top-banner-left{
    width: 50%;
    color: #575757;
}
.top-banner-left span{
    color: #D82029;
}
.top-banner-left h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    margin: 40px 0 40px 0;
}
.top-banner-left p{
    font-size: 20px;
    color: #575757;
    margin-bottom: 50px;
    line-height: 30px;
}
.btn {
    text-decoration: none;
    background: linear-gradient(90deg, #fc405c, #D82029);
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    color: #f1f1f1;
    border-radius: 50px;
    font-weight: 600;
}
.btn:hover{
    background: linear-gradient(90deg, #d82029, #fc405c);
}
.top-banner-right{
    width: 50%;
    justify-content: flex-end;   

}
.top-banner img{
    width: 75%;
}
/* top banner css end */

/* AboutUs style start */
.about{
    background: url(../images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding: 50px 5% 0 5%;
}
.about-left{
    width: 50%;
}
.about-left h2{
    font-size: 45px;
    font-weight: 700;
    color: #575757;
    margin: 90px 0 40px 0;
}
.about-left p {
    font-size: 18px ;
    color: #575757;
    line-height: 30px;
    padding-right: 110px;
    text-align: justify;
    margin: 0 0 50px 0;
}
.about-right{
    width: 50%;
    justify-content: flex-end;
}
.about-right img{
    width: 60%;
}
/* AboutUs style end */

/* Food style start */
.food{
    padding: 80px 5% 80px 5%;
    background: url(../images/food/food-bg.png)
    ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.food::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: .80;
}
.food-items{
    display: flex;
}
.food-head h2{
    font-size: 45px;
    color: #575757;
    text-align: center;
    margin-bottom: 20px;
}
.food-head p {
    font-size: 20px;
    text-align: center;
    color: #575757;
    padding: 0 250px 0 250px;
    line-height: 25px;
    margin-bottom: 40px;
}
.food-card{
    width: 25%;
    border-radius: 5px;
    padding: 5px 5px 20px 5px;
    margin: 1%;
    position: relative;
    transition: .3s;
    background: white;
}
.food-card:hover{
    box-shadow: 5px 5px 20px #575757;
    cursor: pointer;
    top: -20px;

}
.food-card h3{
    color:#575757;
    margin:  0 0 10px 0;
}
.food-card p{
    color: #575757;
}
.food-card img{
    width: 100%;

}
.food-card > p{
    margin-bottom: 20px;
}
.food-card-footer{
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 5px;
}
.food-card-footer > p{
    font-size: 18px;
    font-weight: 700;
    color:#575757;
}

/* Food style end */

/* review style start */
.review{
    padding: 88px 5% 0 5%;
}
.review h2{
    font-size: 40px;
    color:#575757;
    text-align: center;
    margin: 0 0 20px 0;
}
.review-head p{
    font-size: 18px;
    text-align: center;
    color: #575757;
    padding: 0 250px 0 250px;
    line-height: 25px;
    margin-bottom: 40px;
}
.review-body{
    padding: 0 7% 40px 7%;
}
.review-card{
    display: flex;
    height: 150px;
    justify-content: space-between;
    margin-bottom: 100px;
}
.review-card img{
    height: 100%;
    border-radius: 50%;

}
.blue{
    background: #b6e0fc;
}
.red{
    background: #ffb4b8;
}
.review-comment{
    border-radius: 80px;
    padding: 40px;
    width: 75%;
}
/* review style end */


/* Email style start */
.email{
    margin: 0 28% 5% 28%;
    border-radius: 50px;
    padding: 20px 0 0 0;
    background:#ffb4b8;

}

.email h2{
    text-align: center;
    font-size: 40px;
    color: #303030;
    margin: 50px 0 0 0;
}
.email-head{
    text-align: center;
    font-size: 18px;
    margin: 8px 0 20px 0;
    color: #575757;
}
.email-body {
    padding: 50px 50px 50px 50px;
    text-align: center;
}
.email-body p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: 500;
    color: #575757;
}
.email-body input{
    width: 300px;
    height: 30px;
    padding-left: 10px;
    border: none;
}
.email-body input:focus {
    outline: none;
}
.email-body textarea {
    border: none;
    padding: 5px 0 0 10px;
}
.email-body textarea:focus{
    outline: none;
}

.message :nth-child(1){
    position: relative;
    top: -70px;
}

.email-body form button {
    text-decoration: none;
    background: #FFB4B8;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    color: #f1f1f1;
    border-radius: 50px;
    font-weight: 600;
    border: 1px solid white;
    cursor: pointer;
}
.email-body form button:hover {
    background: #EB6076;
}
/* Email style end */


footer {
    padding: 10px 5% 10px 5%;
    background: #1E2B47;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location ul{
    list-style: none;
    color: #ececec;
    font-size: 16px;
}

.location li {
    margin-bottom: 10px;
}

.location li i{
    margin-right: 7px;
}

.location img{
    height: 100px;
}

.link ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.link li a{
    color: #ececec;
    font-size: 40px;
    margin: 10px;
}

.link li a:hover{
    color: #486cbb;
}

.footer-bottom {
    color: #486cbb;
    text-align: center;
    margin-bottom:10px;
}